
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/style.css" rel="stylesheet" >
    <link href="css/font-awesome.min.css" rel="stylesheet" >

    <title>IDG</title>
  </head>
  <body>
<section id="call"class="border border-2 border-white top">
   <img src="img/phone.png" alt="phone">
</section>

<section id="account-area">
    <div class="container-fluid">
        <div class="settings">
           <a href="information.html"><i class="fa fa-cog"></i></a>
        </div>
        <div class="acc-details"><img src="img/11.png"><p>1234567891 <br>VIP0 <br> Invitation code: 30369</p></div>
    </div>
    <div class="imagesection">
        <div class="taka"><div class="row">
            <div class="col-6">
                <p> Task income: </p><span>TK0.00</span>
            </div>
             <div class="col-6">
                <p>  balance: </p><span>TK200.00</span>
            </div>
            
        </div></div>
        <img src="img/bg2.png" >
    </div>
</section>


<section id="btn-area">
  
        <div class="row">
            <div class="col-6 p-0"> <a href="Recharge.html">Recharge</a></div>
            <div class="col-6 p-0">   <a href="Withdrawa.html">Withdraw</a></div>
    </div>
   
  
</section>
<section id="accounDetlist">
    <div class="container-fluid">
        <ul>
            <li><a href="information.html"><img src="img/inf.png" > <p>Information</p></a></li>
            <li><a href="orders.html"><img src="img/order.png" > <p>Order Record</p></a></li>
            <li><a href="rechargeHistory.html"><img src="img/rech.png" > <p>Recharge History</p></a></li>
            <li><a href="WithdrawHistory.html"><img src="img/with.png" > <p>Withdraw History</p></a></li>
            <li><a href="Announcement.html"><img src="img/ann.png" > <p>Announcement</p></a></li>
        </ul>
        <a href=""class="logout">Log out</a>
    </div>

 
</section>

<section id="menus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 p-0">
                <div class="menu">
                    <a href="index.html">
                        <img src="img/Home.png" alt="Home">
                        <img src="img/HomeA.png" alt="Home"class="activeimg">
                        <p>Home</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="team.html">
                        <img src="img/Team.png" alt="Home">
                        <img src="img/TeamA.png" alt="Home"class="activeimg">
                        <p>Team</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="tasks.html">
                        <img src="img/Task.png" alt="Home">
                        <img src="img/TaskA.png" alt="Home"class="activeimg">
                        <p>Tasks</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="account.html"class="active">
                        <img src="img/Account.png" alt="Home">
                        <img src="img/AccountA.png" alt="Home"class="activeimg">
                        <p>Account</p>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>

    <script src="js/bootstrap.bundle.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>


  </body>
</html>
