<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <title>IDG</title>
</head>

<body>
    <section id="call" class="border border-2 border-white top">
        <img src="img/phone.png" alt="phone">
    </section>

    <section id="topbar">
        <div class="title">
            <a href="information.html"><i class="fa fa-angle-left"></i></a>
            <p>Bank Account</p>
        </div>
    </section>

    <section id="account-form">
        <form action="">
            <div class="long-title">
                <p>Please enter your identity information</p>
            </div>

            <div class="container-fluid">
                <label><span class="require">*</span> Your real name</label>
                <input type="text" placeholder="Your real name">
            </div>
            <div class="long-title">
                <p>Please input bank account information </p>
            </div>
            <div class="container-fluid">

                <label>Bank Name</label>
                <select name="">
                    <option value="bkash">Bkash</option>
                </select>
            </div>
            <div class="container-fluid">
                <label><span class="require">*</span> Bank account</label>
                <input type="text" placeholder="Please add an account">

                <label><span class="require">*</span> Bank branch</label>
                <input type="text" placeholder="Please add an account">

                <label><span class="require">*</span>Bank area</label>
                <input type="text" placeholder="please enter Bank area">


            </div>
            <div class="long-title">
                <p>Verify withdrawal password</p>  </div>
                <div class="container-fluid">
                    <label><span class="require">*</span>Withdrawal password</label>
                    <input type="text" placeholder="">

                    <input type="checkbox" class="checkbox"><span>I have agreed to the service agreement</span>
                    <p class="det">dear user,in order to protect the safety of your funds, please bind your real name and set a
                        withdrawal password.If the name does not match the account name, the withdrawal will not be
                        possible. <span>The true information must be filled in and cannot be modified after
                            binding</span></p>

                            <input type="submit" class="savedata"value="Save information">

                </div>
          

        </form>

    </section>


    <section id="menus">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="index.html">
                            <img src="img/Home.png" alt="Home">
                            <img src="img/HomeA.png" alt="Home" class="activeimg">
                            <p>Home</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="team.html" class="active">
                            <img src="img/Team.png" alt="Home">
                            <img src="img/TeamA.png" alt="Home" class="activeimg">
                            <p>Team</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="tasks.html">
                            <img src="img/Task.png" alt="Home">
                            <img src="img/TaskA.png" alt="Home" class="activeimg">
                            <p>Tasks</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="account.html">
                            <img src="img/Account.png" alt="Home">
                            <img src="img/AccountA.png" alt="Home" class="activeimg">
                            <p>Account</p>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body>

</html>