<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <title>IDG</title>
</head>

<body>
    <section id="call">
        <img src="img/phone.png" alt="phone">
    </section>

    <section id="topbar">
        <div class="title">
            <a href="help.html"><i class="fa fa-angle-left"></i></a>
            <p>দালাল সহযোগিতা</p>
        </div>
    </section>

    <section class="intro" id="listmenu">
        <div class="container-fluid">
            <h2 class="text-center">দালাল সহযোগিতা</h2><br><br>
            <p>IDG প্ল্যাটফর্মে যোগদানকারী প্রতিটি দলের সদস্যদের তাদের নিজস্ব দল গঠন করতে হবে। আইডিজি প্রকল্পে একটি দল
                তৈরি করা আপনার প্রধান কাজ। ভবিষ্যতে, আপনার আয়ের 80% আপনার দল থেকে আসবে।<br><br><br><br>


                একটি দল গঠনে একটি যৌক্তিক সম্পর্ক রয়েছে: আপনি যে বন্ধুদের আমন্ত্রণ জানিয়েছেন তারা আপনার প্রথম স্তরের
                অধস্তন; আপনার প্রথম-স্তরের অধস্তনদের দ্বারা আমন্ত্রিত বন্ধুগুলি হল আপনার দ্বিতীয়-স্তরের অধস্তন; আপনার
                দ্বিতীয়-স্তরের অধস্তনদের দ্বারা আমন্ত্রিত বন্ধুরা হল আপনার তৃতীয়- স্তরের অধীনস্থরা।<br><br><br><br><br><br>




                একটি দল তৈরি করুন এবং আপনি আপনার আয়ের 2 অংশ পাবেন<br><br>


                আয়ের প্রথম অংশ হল: অধস্তনদের প্রথম আমানতের জন্য বোনাস (আপনার অধস্তন দ্বিতীয় আমানত করলে এই বোনাসটি
                পাওয়া যায় না)<br><br>


                টিয়ার 1 সদস্য আমানতের জন্য, আপনি একটি 16% প্রথম আমানত বোনাস পাবেন।<br><br>


                টিয়ার 2 সদস্য আমানতের জন্য, আপনি একটি 7% প্রথম আমানত বোনাস পাবেন।<br><br>


                একটি স্তর 3 সদস্য হিসাবে জমা করুন এবং আপনি একটি 2% প্রথম আমানত বোনাস পাবেন।<br><br><br>




                দ্বিতীয় ধরনের আয় হল: অধস্তনদের প্রতিদিনের কাজগুলি সম্পূর্ণ করার জন্য কমিশন ক্রমাগত। অতএব, ঊর্ধ্বতনকে
                প্রতিদিন 10টি অর্ডার কাজ সম্পূর্ণ করার জন্য অধস্তনদের তত্ত্বাবধান করতে হবে।<br><br>


                লেভেল 1 অধস্তনরা কাজটি সম্পূর্ণ করার জন্য একটি কমিশন পায় এবং আপনি অধস্তনদের কমিশনের 5% পান।<br><br>


                লেভেল 2 অধস্তনরা কাজটি সম্পূর্ণ করার জন্য একটি কমিশন পায় এবং আপনি অধস্তনদের কমিশনের 2% পান।<br><br>


                লেভেল 3 অধস্তনরা কাজটি সম্পূর্ণ করার জন্য একটি কমিশন পাবেন এবং আপনি অধস্তনদের কমিশনের 1% পাবেন।<br><br><br><br>




                সুতরাং, যখন আপনার দলে 1, 2, 3 জন অধস্তন: কর্মচারী থাকবে, আপনার যত বেশি স্তর থাকবে, আপনার উচ্চপদস্থরা তত
                বেশি উপার্জন করবে। একটি দল তৈরি করা একটি পাইপের মতো যা আমরা নিজেদের জন্য রাখি এবং আপনার আয় আপনার IDG
                কাজের অ্যাকাউন্টে প্রবাহিত হবে। বাড়ি ছাড়াই পেতে পারেন বিপুল সম্পদ!
            </p>

        </div>
    </section>


    <section id="menus">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="index.html">
                            <img src="img/Home.png" alt="Home">
                            <img src="img/HomeA.png" alt="Home" class="activeimg">
                            <p>Home</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="team.html">
                            <img src="img/Team.png" alt="Home">
                            <img src="img/TeamA.png" alt="Home" class="activeimg">
                            <p>Team</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="tasks.html">
                            <img src="img/Task.png" alt="Home">
                            <img src="img/TaskA.png" alt="Home" class="activeimg">
                            <p>Tasks</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="account.html">
                            <img src="img/Account.png" alt="Home">
                            <img src="img/AccountA.png" alt="Home" class="activeimg">
                            <p>Account</p>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body>

</html>