<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <title>IDG</title>
</head>

<body>
    <section id="call" class="border border-2 border-white top">
        <img src="img/phone.png" alt="phone">
    </section>

    <section id="topbar">
        <div class="title">
            <a href="index.html"><i class="fa fa-angle-left"></i></a>
            <p>Company Profiles</p>
        </div>
    </section>

    <section class="intro mb-5">
        <div class="container-fluid">
            <p>
                ইন্টারন্যাশনাল ডেটা গ্রুপ (আইডিজি) 1964 সালে প্রতিষ্ঠিত হয়েছিল এবং এর সদর দফতর বোস্টন, মার্কিন
                যুক্তরাষ্ট্রে। এর ব্যবসা 110 টি দেশ জুড়ে। IDG এর মূল শক্তি ব্র্যান্ড বিপণনকারীদের বাজারের লক্ষ্য অর্জনে
                সহায়তা করার জন্য বিশ্বব্যাপী বড় ডেটা ব্যবহার করছে। <br><br>


                বিশ্বের বৃহত্তম আন্তর্জাতিক বিগ ডেটা কোম্পানি হিসেবে, IDG বাংলাদেশকে ই-কমার্সের বিকাশে এবং বাংলাদেশি
                জনগণের জন্য আরও কর্মসংস্থানের সুযোগ প্রদানে সহায়তা করার জন্য 2020 সালে বাংলাদেশ সরকারের সাথে একটি
                সহযোগিতা চুক্তি স্বাক্ষর করে। বাংলাদেশে IDG-এর জন্য একটি অনলাইন খণ্ডকালীন প্ল্যাটফর্ম প্রতিষ্ঠা করেছে,
                10 মিলিয়নেরও বেশি মানুষের জন্য একটি অনলাইন খণ্ডকালীন প্ল্যাটফর্ম উপলব্ধি করেছে। <br><br>


                IDG ই-কমার্স প্ল্যাটফর্ম শক্তিশালী নেটওয়ার্ক প্রযুক্তিগত সহায়তার উপর নির্ভর করে, বিশ্বব্যাপী ই-কমার্স
                প্ল্যাটফর্মগুলি থেকে ডেটা সংগ্রহ করে এবং বাজারের পণ্য বিক্রয় প্রবণতার AI বুদ্ধিমান বিশ্লেষণ উপলব্ধি
                করতে বড় ডেটা ব্যবহার করে। ই-কমার্সে বিশাল সুবিধা আনুন, শূন্য ঝুঁকি, সম্পূর্ণ আইনি। <br><br>


                আপনি ইউটিউবে IDG এর কিছু ভিডিও অনুসন্ধান করতে পারেন, উইকিপিডিয়াতে "আন্তর্জাতিক ডেটা গ্রুপ" অনুসন্ধান
                করতে পারেন এবং আপনি IDG এর বিস্তারিত ভূমিকাও দেখতে পারেন! <br><br>


                এই মুহূর্তে, আমরা প্ল্যাটফর্ম ই-কমার্স প্রচার এবং ই-কমার্স বিক্রয় এবং এক্সপোজার বৃদ্ধিতে সহায়তা করার
                জন্য প্রকল্পগুলিতে কাজ করছি। তাই কাজ করার জন্য আমাদের আরও ডেডিকেটেড আইপি দরকার। যখন আমরা প্ল্যাটফর্ম
                ই-কমার্স দ্বারা জারি করা অর্ডার টাস্ক সম্পূর্ণ করি, তখন প্ল্যাটফর্ম ই-কমার্স আমাদের একটি কমিশন প্রদান
                করবে, যা আমাদের আয়ের উৎস। <br><br>


                এবার আসুন ই-কমার্স অর্ডারিং টাস্কের নিয়মাবলী পরিচয় করিয়ে দেই। ই-বণিকদের দেওয়া অর্ডারের উপর গৃহীত
                পদক্ষেপগুলি IDG অ্যাকাউন্টে আমাদের জমার উপর ভিত্তি করে নির্ধারিত হয়। <br><br>


                ধরে নিচ্ছি যে আপনার IDG অ্যাকাউন্টের মোট তহবিল রয়েছে 1,000 টাকা, এবং ই-কমার্স অর্ডার করার কাজটি প্রায়
                1,000 টাকা। এই ধরনের একটি যৌক্তিক সম্পর্ক আছে: IDG অ্যাকাউন্টে মোট তহবিল যত বেশি, অর্ডার টাস্ক ভলিউম তত
                বেশি এবং কমিশন তত বেশি! <br><br>


                অনেক নতুন সদস্য এটিকে একটি বিনিয়োগ প্ল্যাটফর্ম হিসেবে দেখেন। কিন্তু আমি আপনাকে বলছি, এটি একটি বিনিয়োগ
                প্ল্যাটফর্ম নয়! যেহেতু আপনার IDG অ্যাকাউন্টে জমা করা মূল অর্থ যে কোনো সময় উত্তোলন করা যেতে পারে, আপনি
                যে কোনো সময় আপনার ব্যাঙ্ক অ্যাকাউন্টে মূল টাকা তুলতে পারবেন। কোয়েস্ট আমানত শুধুমাত্র আপনার দৈনিক
                অনুসন্ধান আয় বৃদ্ধি করবে. তাই এটি একটি বিনিয়োগ নয়. <br><br>


              <b>আপনার জমাকৃত মূলধন এবং আপনার প্রাপ্ত আয়ের জন্য ধন্যবাদ, আপনি আমাদের তহবিলগুলিকে সুরক্ষিত রেখে যে কোনো
                সময় তুলতে পারেন। অতএব, IDG কোম্পানি নিরাপদ, নির্ভরযোগ্য এবং বিশ্বস্ত!</b>  
            </p>
        </div>
    </section>



    <section id="menus">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="index.html">
                            <img src="img/Home.png" alt="Home">
                            <img src="img/HomeA.png" alt="Home" class="activeimg">
                            <p>Home</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="team.html">
                            <img src="img/Team.png" alt="Home">
                            <img src="img/TeamA.png" alt="Home" class="activeimg">
                            <p>Team</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="tasks.html">
                            <img src="img/Task.png" alt="Home">
                            <img src="img/TaskA.png" alt="Home" class="activeimg">
                            <p>Tasks</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="account.html">
                            <img src="img/Account.png" alt="Home">
                            <img src="img/AccountA.png" alt="Home" class="activeimg">
                            <p>Account</p>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body>

</html>