<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/style.css" rel="stylesheet" >

    <title>IDG</title>
  </head>
  <body>

<section id="code"class="text-center">
    <a href=""class="logo"><img src="img/logo.jpg" alt="logo"></a>
    <span>IDG</span>
    <div class="code">
        <img src="img/code.png" >
        <p>Scan code and download using mobile phone</p>
    </div>
</section>


    <script src="js/bootstrap.bundle.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>


  </body>
</html>
