<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/style.css" rel="stylesheet" >
    <link href="css/font-awesome.min.css" rel="stylesheet" >

    <title>IDG</title>
  </head>
  <body>
<section id="call"class="border border-2 border-white top">
   <img src="img/phone.png" alt="phone">
</section>

  <section id="topbar">
    <div class="title">
        <a href="account.html"><i class="fa fa-angle-left"></i></a>
        <p>Team Report</p>
    </div>
  </section>

 <section id="listmenu"class="info">
    <div class="container-fluid">
        <ul>
            <li><a href="Avatar.html"><img src="img/users.png"class="icon"> Avatar  <img src="img/11.png" class="userimg"></a></li>
            <li><a href=""><img src="img/ph.png"class="icon"> Mobile Number  <span>1234567891</span></a> </li>
            <li><a href="bankAccount.html"><img src="img/wa.png"class="icon"> Wallet Details  <span> **** **** **** </span></a> </li>
            <li><a href="RechangePass.html"><img src="img/passs.png"class="icon"> Password Management </a> </li>

        </ul>
    </div>
 </section>


<section id="menus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 p-0">
                <div class="menu">
                    <a href="index.html">
                        <img src="img/Home.png" alt="Home">
                        <img src="img/HomeA.png" alt="Home"class="activeimg">
                        <p>Home</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="team.html">
                        <img src="img/Team.png" alt="Home">
                        <img src="img/TeamA.png" alt="Home"class="activeimg">
                        <p>Team</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="tasks.html">
                        <img src="img/Task.png" alt="Home">
                        <img src="img/TaskA.png" alt="Home"class="activeimg">
                        <p>Tasks</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="account.html">
                        <img src="img/Account.png" alt="Home">
                        <img src="img/AccountA.png" alt="Home"class="activeimg">
                        <p>Account</p>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>

    <script src="js/bootstrap.bundle.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>


  </body>
</html>
