<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/style.css" rel="stylesheet" >
    <link href="css/font-awesome.min.css" rel="stylesheet" >
    <title>IDG</title>
  </head>
  <body>
<section id="bigbg"class="qr">
   <div class="container-fluid">
    <a href="index.html"><i class="fa fa-angle-left"></i></a>
    <div class="QR  text-center">
     <img src="img/QR.png" >
    </div>
    <form action=""class="link">
   <div class="row">
    <input disabled type="url"value="https://bdidg18.com/page/register?inviterId=30369">
    <input type="submit"value="copy"class="copy">
   </div>
    </form>
<div class="download-link">
  <a href="download.html" class="download"><i class="fa fa-shopping-bag"></i>  Download address </a>
</div>
   </div>
</section>

  
  

    <script src="js/bootstrap.bundle.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>


  </body>
</html>
