<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/style.css" rel="stylesheet" >
    <link href="css/font-awesome.min.css" rel="stylesheet" >
    <title>IDG</title>
  </head>
  <body>
<section id="bigbg">

    <div class="form login">
        <h2>DG</h2>
        <h6>Welcome</h6>
        <form action="">
           <div class="input"> <input type="tel"placeholder="Enter phone number"><span><img src="img/user.png" ></span></div>
           <div class="input"> <input type="password"placeholder="Enter phone number"><span><img src="img/pass.png" ></span></div>
           <input type="checkbox"class="checkbox" > <span> Remember Me</span>
           <input type="submit" value="Login"class="submit">
<a href="register.html"class="reg">Register</a>
        </form>
    </div>
</section>




    <script src="js/bootstrap.bundle.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>


  </body>
</html>
