<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">

  <title>IDG</title>
</head>

<body>
  <section id="call">
    <img src="img/phone.png" alt="phone">
  </section>

  <section id="orders">
   <div class="order-record">

    <div class="container-fluid">
      <h2>Order Record</h2>
      <p>This data is provided by Groupon buy official <br><span>Remaining available assets</span></p>

<div id="level">
  <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
        type="button" role="tab" aria-controls="pills-home" aria-selected="true">All</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
        type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Processing</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
        type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Completed</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"></div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"></div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"></div>
  </div>
</div>

    </div>


   </div>
  </section>





  <section id="menus">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 p-0">
          <div class="menu">
            <a href="index.html">
              <img src="img/Home.png" alt="Home">
              <img src="img/HomeA.png" alt="Home" class="activeimg">
              <p>Home</p>
            </a>
          </div>
        </div>
        <div class="col-3 p-0">
          <div class="menu">
            <a href="team.html">
              <img src="img/Team.png" alt="Home">
              <img src="img/TeamA.png" alt="Home" class="activeimg">
              <p>Team</p>
            </a>
          </div>
        </div>
        <div class="col-3 p-0">
          <div class="menu">
            <a href="tasks.html">
              <img src="img/Task.png" alt="Home">
              <img src="img/TaskA.png" alt="Home" class="activeimg">
              <p>Tasks</p>
            </a>
          </div>
        </div>
        <div class="col-3 p-0">
          <div class="menu">
            <a href="account.html">
              <img src="img/Account.png" alt="Home">
              <img src="img/AccountA.png" alt="Home" class="activeimg">
              <p>Account</p>
            </a>
          </div>
        </div>


      </div>
    </div>
  </section>

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/bootstrap.min.js"></script>


</body>

</html>
