<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <title>IDG</title>
</head>

<body>
    <section id="call">
        <img src="img/phone.png" alt="phone">
    </section>

    <section id="topbar">
        <div class="title">
            <a href="help.html"><i class="fa fa-angle-left"></i></a>
            <p>রিচার্জ সাহায্য</p>
        </div>
    </section>

    <section class="intro" id="listmenu">
        <div class="container-fluid">
            <h2 class="text-center">রিচার্জ সাহায্য</h2><br><br>
            <p>আপনার IDG চাকরির অ্যাকাউন্টের স্তর যত বেশি হবে, অর্ডার টাস্কের সংখ্যা তত বেশি হবে এবং কমিশন আয় তত বেশি
                হবে।<br><br>

                APP হোমপেজ খুলুন, IDG জব নম্বর আপগ্রেড সম্পূর্ণ করতে প্রম্পট পদক্ষেপগুলি অনুসরণ করুন এবং উচ্চ কমিশন
                অর্জন করুন৷<br><br>


                IDG প্ল্যাটফর্ম রিচার্জ করার 2টি উপায় রয়েছে:<br><br>

                1, বিকাশ অ্যাকাউন্ট পেমেন্ট, এই পেমেন্ট পদ্ধতি খুবই সুবিধাজনক এবং দ্রুত।<br><br>

                আমানত সফল হওয়ার পরে, উপরে দেখানো অবস্থানে লেনদেন আইডি পূরণ করুন। আপনার তহবিল তারপরে অর্থ বিভাগ দ্বারা
                পর্যালোচনা করা হবে। অনুমোদনের পর, এটি স্বয়ংক্রিয়ভাবে আপনার TK অ্যাকাউন্ট ব্যালেন্সে জমা হয়ে যাবে।<br><br>

                2. ব্যাঙ্ক কার্ড পেমেন্ট। কারণ বিকাশ পেমেন্ট মাঝে মাঝে চ্যানেলের ভিড়ের সম্মুখীন হয়, সবচেয়ে স্থিতিশীল
                ব্যাঙ্ক কার্ড পেমেন্ট পদ্ধতি চালু করা হয়েছে। রিয়েল টাইমে TK অ্যাকাউন্ট ব্যালেন্সে ব্যাঙ্কের অর্থ
                প্রদান করা হয়।<br><br>

                এখন আইডিজি প্ল্যাটফর্ম যে ব্যাংকগুলির সাথে সহযোগিতা করে সেগুলি হল: ইসলামিক ব্যাংক, ডাচ বাংলাদেশ ব্যাংক,
                সিটি ব্যাংক, ব্র্যাক ব্যাংক<br><br>

                সমস্ত সদস্যদের জন্য আরও ভাল অভিজ্ঞতার জন্য, দয়া করে যত তাড়াতাড়ি সম্ভব এই ব্যাঙ্কগুলির ব্যাঙ্ক
                কার্ডগুলির জন্য আবেদন করুন৷<br><br><br><br>




                জমা নোট:<br><br>

                1. আমানত সফল হওয়ার পরে, যত তাড়াতাড়ি সম্ভব আপনার একচেটিয়া ব্যবসায়িক পরামর্শদাতাকে বলুন। 2. প্রতিবার
                আপনি আমানত করবেন, আপনাকে IDG অ্যাকাউন্টের জমা পৃষ্ঠায় প্রবেশ করতে হবে, IDG অর্থ বিভাগের সাথে সম্পর্কিত
                অ্যাকাউন্টটি খুঁজে বের করতে হবে এবং পেমেন্ট সম্পূর্ণ করুন।<br><br>


                3. তহবিলের নিরাপত্তা নিশ্চিত করুন। সফল রিচার্জের স্ক্রিনশটগুলি শুধুমাত্র আপনার উর্ধ্বতনদের বা IDG
                ব্যবসায়িক পরামর্শদাতাদের দেওয়া যেতে পারে এবং টেলিগ্রাম গ্রুপে পাঠানোর অনুমতি নেই। তহবিল হারিয়ে গেলে,
                ব্যবহারকারী দায়ী, এবং IDG প্ল্যাটফর্ম দায়ী নয়।<br><br>

                পিক রিচার্জের সময়, চ্যানেলটি খুব ঘনবসতিপূর্ণ, এবং এই পৃষ্ঠাটি প্রদর্শিত হবে। সদস্য এবং বন্ধুরা, চিন্তা
                করবেন না, 3-5 মিনিট অপেক্ষা করুন এবং তারপরে আবার রিচার্জ পৃষ্ঠায় প্রবেশ করুন৷
            </p>

        </div>
    </section>


    <section id="menus">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="index.html">
                            <img src="img/Home.png" alt="Home">
                            <img src="img/HomeA.png" alt="Home" class="activeimg">
                            <p>Home</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="team.html">
                            <img src="img/Team.png" alt="Home">
                            <img src="img/TeamA.png" alt="Home" class="activeimg">
                            <p>Team</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="tasks.html">
                            <img src="img/Task.png" alt="Home">
                            <img src="img/TaskA.png" alt="Home" class="activeimg">
                            <p>Tasks</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="account.html">
                            <img src="img/Account.png" alt="Home">
                            <img src="img/AccountA.png" alt="Home" class="activeimg">
                            <p>Account</p>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body>

</html>