<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <title>IDG</title>
</head>

<body>
    <section id="call" class="border border-2 border-white top">
        <img src="img/phone.png" alt="phone">
    </section>

    <section id="topbar">
        <div class="title">
            <a href="information.html"><i class="fa fa-angle-left"></i></a>
            <p>Password management</p>
        </div>
    </section>

    <section id="account-form">
        <form action="">
            <div class="long-title">
                <p>Change the login password</p>
            </div>

            <div class="container-fluid">
                <label> Old password:</label>
                <input type="password" placeholder="Please enter the old password">


 <label>New password:</label>
                <input type="password" placeholder="Please enter new login password">


 <label>Confirm password:</label>
                <input type="password" placeholder="Please enter new password again">

                <input type="submit" class="savedata"value="Confirm to modify the login password">


            </div>
            <div class="long-title">
                <p>Change withdrawal password</p>
            </div>
            <div class="container-fluid">

                <label>Please enter old withdrawal password</label>
                <input type="password">


 <label>Please enter new withdrawal password</label>
                <input type="password" >

                <input type="submit" class="savedata"value="Confirm to modify the withdrawal password">

            </div>
            
        </form>

    </section>


    <section id="menus">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="index.html">
                            <img src="img/Home.png" alt="Home">
                            <img src="img/HomeA.png" alt="Home" class="activeimg">
                            <p>Home</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="team.html" class="active">
                            <img src="img/Team.png" alt="Home">
                            <img src="img/TeamA.png" alt="Home" class="activeimg">
                            <p>Team</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="tasks.html">
                            <img src="img/Task.png" alt="Home">
                            <img src="img/TaskA.png" alt="Home" class="activeimg">
                            <p>Tasks</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="account.html">
                            <img src="img/Account.png" alt="Home">
                            <img src="img/AccountA.png" alt="Home" class="activeimg">
                            <p>Account</p>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body>

</html>