<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/style.css" rel="stylesheet" >
    <link href="css/font-awesome.min.css" rel="stylesheet" >
    <title>IDG</title>
  </head>
  <body>
<section id="bigbg">
    <a href="login.html"><i class="fa fa-angle-left"></i></a>
    <div class="form">
        <h2>Register</h2>
        <form action="">
           <div class="tel"> <input type="tel"placeholder="Please enter a 10-digit phone number"><span>+880</span></div>
           <input type="password"placeholder="Please enter login password">
           <input type="password"placeholder="Confirm login password">
           <input type="password"placeholder="Please enter a 6-digit withdrawal password">
           <input type="password"placeholder="Please enter recommendation code">
           <input type="checkbox"class="checkbox" checked> <span> I am aware of and agree to the terms of the account opening agreement</span>  
           <input type="submit" value="register"class="submit">
<a href="login.html">You have an account. Log in now</a>
        </form>
    </div>
</section>

  
  

    <script src="js/bootstrap.bundle.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>


  </body>
</html>
