
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/style.css" rel="stylesheet" >
    <link href="css/font-awesome.min.css" rel="stylesheet" >

    <title>IDG</title>
  </head>
  <body>
<section id="call"class="border border-2 border-white top">
   <img src="img/phone.png" alt="phone">
</section>

<section id="orderpage">
    <div class="container-fluid">
        <h2></h2>
    </div>
</section>


  <section id="topbar">
    <div class="title">
 <p>Orders</p>
    <a href="orders.html"><img src="img/tasks.png" alt="logo"></a>
    </div>
  </section>
  <section id="banner">
    <h3>ORDERS</h3>
    <p>Automatic order mode</p>
  </section>

<section id="taskdetails">
    <div class="container-fluid">
        <h4>Today's results</h4>
    <div class="shadow">
        <div class="row">
            <div class="col-6">
                <div class="data c">
                    <p >Total assets（TK）</p>
                    <div class="tk"> TK 200 </div>
                </div>
            </div>
 <div class="col-6">
                <div class="data">
                    <p >Today's orders</p>
                    <div class="tk"> 0 Orders </div>
                </div>
            </div>
 <div class="col-6">
                <div class="data">
                    <p >Today earnings</p>
                    <div class="tk"> TK 0.00</div>
                </div>
            </div>
 <div class="col-6">
                <div class="data">
                    <p >Yesterday earnings</p>
                    <div class="tk"> TK 0.00</div>
                </div>
            </div>


        </div>
  
    </div> 
    
    </div>
</section>
<section id="box">
    <div class="container-fluid">
      <div class="box-text">
        <span class="b">Unlock</span><span class="content-text">Higher commission for exclusive channel of next level</span>
      </div>
    </div>
</section>
<section id="description">
    <div class="container-fluid">
        <div class="dec-box">
            <span class="gradient">Description of</span>
            <p>According to the membership level, each account can grab the number of orders per day:10</p>
        </div>
    </div>
</section>



<section id="menus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 p-0">
                <div class="menu">
                    <a href="index.html">
                        <img src="img/Home.png" alt="Home">
                        <img src="img/HomeA.png" alt="Home"class="activeimg">
                        <p>Home</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="team.html">
                        <img src="img/Team.png" alt="Home">
                        <img src="img/TeamA.png" alt="Home"class="activeimg">
                        <p>Team</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="tasks.html"class="active">
                        <img src="img/Task.png" alt="Home">
                        <img src="img/TaskA.png" alt="Home"class="activeimg">
                        <p>Tasks</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="account.html">
                        <img src="img/Account.png" alt="Home">
                        <img src="img/AccountA.png" alt="Home"class="activeimg">
                        <p>Account</p>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>

    <script src="js/bootstrap.bundle.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>


  </body>
</html>
