<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/style.css" rel="stylesheet" >
    <link href="css/font-awesome.min.css" rel="stylesheet" >

    <title>IDG</title>
  </head>
  <body>
<section id="call"class="border border-2 border-white top">
   <img src="img/phone.png" alt="phone">
</section>

  <section id="topbar">
    <div class="title">
        <a href="team.html"><i class="fa fa-angle-left"></i></a>
        <p>Team Report</p>
    </div>
  </section>

<section id="listmenu">
   <div class="details">
    <div class="container">
        <div class="detail">
            <p>Total of Recharge</p>
            <span>0.00</span>
        </div>
         <div class="detail">
            <p>Direct Invites</p>
            <span>0</span>
        </div>
         <div class="detail">
            <p>Members</p>
            <span>0</span>
        </div>
         <div class="detail">
            <p>Active Members</p>
            <span>0</span>
        </div>
         <div class="detail">
            <p> Team task bonus </p>
            <span>0.00</span>
        </div>
         <div class="detail">
            <p> Team Recharge Bonus </p>
            <span>0.00</span>
        </div>
        
    </div>
   </div>
</section>


<section id="menus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 p-0">
                <div class="menu">
                    <a href="index.html">
                        <img src="img/Home.png" alt="Home">
                        <img src="img/HomeA.png" alt="Home"class="activeimg">
                        <p>Home</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="team.html">
                        <img src="img/Team.png" alt="Home">
                        <img src="img/TeamA.png" alt="Home"class="activeimg">
                        <p>Team</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="tasks.html">
                        <img src="img/Task.png" alt="Home">
                        <img src="img/TaskA.png" alt="Home"class="activeimg">
                        <p>Tasks</p>
                    </a>
                </div>
            </div>
<div class="col-3 p-0">
                <div class="menu">
                    <a href="account.html">
                        <img src="img/Account.png" alt="Home">
                        <img src="img/AccountA.png" alt="Home"class="activeimg">
                        <p>Account</p>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>

    <script src="js/bootstrap.bundle.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>


  </body>
</html>
