<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <title>IDG</title>
</head>

<body>
    <section id="call">
        <img src="img/phone.png" alt="phone">
    </section>

    <section id="topbar">
        <div class="title">
            <a href="team.html"><i class="fa fa-angle-left"></i></a>
            <p>Bonus system</p>
        </div>
    </section>

    <section class="intro" id="listmenu">
        <div class="container-fluid">
            <p>
                IIDG-তে অর্থোপার্জনের প্রথম উপায় হল প্রতিদিন 10টি প্ল্যাটফর্ম কাজ সম্পূর্ণ করা এবং মাত্র 5-10 মিনিটের
                মধ্যে বিশাল লাভ করা। <br><br>

                IDG অর্থ উপার্জনের দ্বিতীয় উপায় হল IDG কোম্পানিগুলির জন্য একটি ভাল এজেন্ট হওয়া। একজন IDG এজেন্ট
                হওয়ার কারণে আপনি একটি ভাল বেতনও পেতে পারেন। IDG কর্পোরেট এজেন্টরা যে সুবিধাগুলি উপভোগ করতে পারে তা নীচে
                আমি বিস্তারিত জানাব। <br><br>


                কিভাবে IDG-এর এজেন্ট হবেন, আপনাকে টিমের সদস্যদের IDG-এ যোগদানের জন্য আমন্ত্রণ জানাতে হবে এবং আপনার
                অধস্তনদের বিস্তারিতভাবে বলতে হবে কিভাবে অর্থ উপার্জন করতে হয়। <br><br>

                উদাহরণ স্বরূপ: আপনি A হলেন B কে IDG-এ যোগদানের জন্য আমন্ত্রণ জানাচ্ছেন, B A এর প্রথম-স্তরের অধস্তন <br><br>

                B C-কে IDG-এ যোগদানের আমন্ত্রণ জানায়, C হল B-এর প্রথম-স্তরের অধস্তন এবং A-এর দ্বিতীয়-স্তরের অধস্তন। <br><br>

                C D-কে IDG-তে যোগ দিতে আমন্ত্রণ জানায়, D হল C-এর প্রথম-স্তরের অধস্তন, B-এর দ্বিতীয়-স্তরের অধস্তন, এবং
                A-এর তৃতীয়-স্তরের অধস্তন। <br><br>

                এটি একটি তিন-স্তরের টিম বিল্ডিং, একটি IDG এজেন্ট হয়ে উঠলে, আপনার অধীনস্থরা আপনাকে উপকৃত করতে পারে। <br><br>

                এমন দল তৈরি করুন যেখানে আপনার অধস্তনরা আপনাকে অতিরিক্ত সুবিধা দিতে পারে <br><br>

                আপনি লেভেল 1, 2 এবং 3 এ যথাক্রমে 16%, 7% এবং 2% প্রথম ডিপোজিট কমিশন পেতে পারেন) (আপনার লেভেল 1, 2, 3
                অধীনস্থরা প্রতিদিন কাজ করে এবং 5%, 2%, 1% পেতে পারে) <br><br>


                1. দলের অধস্তনরা (আপনার প্রথম-স্তরের অধস্তন, দ্বিতীয়-স্তরের অধস্তন, এবং তৃতীয়-স্তরের অধস্তনদের সহ)
                তাদের প্রথম জমার জন্য বোনাস পেতে পারে <br><br> <br><br>

                ধরুন আপনি এখন 10টি প্রথম-স্তরের অধস্তনকে আমন্ত্রণ জানিয়েছেন, এবং প্রতিটি প্রথম-স্তরের অধস্তন 10টি
                দ্বিতীয়-স্তরের অধস্তনকে আমন্ত্রণ জানিয়েছে, যার মানে আপনার 100টি দ্বিতীয়-স্তরের অধস্তন রয়েছে। প্রতিটি
                দ্বিতীয়-স্তরের অধস্তন 10 টি দলের সদস্যদের আমন্ত্রণ জানায়, যার মানে আপনার 10*100=1000 তৃতীয়-স্তরের
                অধস্তন রয়েছে। ধরা যাক আপনার দলের প্রথম জমার পরিমাণ হল 1000 TK <br><br>

                প্রথম-স্তরের সদস্যের প্রথম জমার মাধ্যমে আপনার কাছে আনা আয় হল: 10*1000*16%=1600 টাকা <br><br>

                সেকেন্ডারি অ্যাফিলিয়েট কোম্পানির প্রথম ডিপোজিটের মাধ্যমে আপনার কাছে আনা আয় হল: 100*1000*7%=7000 টাকা <br><br>

                তৃতীয়-স্তরের সদস্যের প্রথম জমার মাধ্যমে আপনার কাছে যে আয় এসেছে তা হল: 1000*1000*2%=20000 টাকা <br><br> <br><br>



                2. টিম অধস্তনরা প্রতিদিন 10টি IDG কাজ সম্পন্ন করে। ঊর্ধ্বতনরা কাজের কমিশন পেতে পারেন। এই অ্যাসাইনমেন্টটি
                ক্রমাগত (আপনার প্রথম-স্তর, দ্বিতীয়-স্তর এবং তৃতীয়-স্তরের অধস্তন সহ)। <br><br>

                ধরে নিই যে আপনার অধস্তনদের প্রত্যেকে প্রতিদিন 10টি IDG অর্ডার কাজ সম্পন্ন করে, আপনি 500 TK অনুপাত পেতে
                পারেন। <br><br>

                প্রথম স্তরের অধীনস্থরা দৈনন্দিন কাজগুলি সম্পন্ন করার মাধ্যমে আপনার জন্য যে সুবিধাগুলি আনতে পারে:
                10*500*5%=250 টাকা <br><br>

                মাধ্যমিক অধস্তনরা তাদের দৈনন্দিন কাজ শেষ করার সময় আপনার জন্য যে সুবিধাগুলি আনতে পারে: 100*500*2%=1000
                টাকা <br><br>

                তৃতীয় স্তরের অধীনস্থরা পেতে পারেন: প্রতিদিন কাজ শেষ করার জন্য 1000*500*1%=5000 টাকা, অধস্তনরা প্রতিদিন
                কাজ শেষ করার জন্য 250+1000+5000=6250 টাকা পেতে পারেন <br><br>

                সুতরাং আপনার মাসিক আয় 6250*30=187500 টাকার বেশি হতে পারে <br><br>

                IDG-এর জন্য একজন ভালো এজেন্ট হওয়া খুবই লাভজনক কাজ। আপনি যখন একজন IDG এজেন্ট হতে চান, তখন আপনাকে আপনার
                বন্ধু, পরিবার এবং আপনার আশেপাশের সহকর্মীদের কাছে আপনার শেয়ারের লিঙ্ক পাঠাতে হবে। সমস্ত এজেন্টরা ভাল
                বেতন পেতে পারেন Rs.
            </p>
        </div>
    </section>


    <section id="menus">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="index.html">
                            <img src="img/Home.png" alt="Home">
                            <img src="img/HomeA.png" alt="Home" class="activeimg">
                            <p>Home</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="team.html">
                            <img src="img/Team.png" alt="Home">
                            <img src="img/TeamA.png" alt="Home" class="activeimg">
                            <p>Team</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="tasks.html">
                            <img src="img/Task.png" alt="Home">
                            <img src="img/TaskA.png" alt="Home" class="activeimg">
                            <p>Tasks</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="account.html">
                            <img src="img/Account.png" alt="Home">
                            <img src="img/AccountA.png" alt="Home" class="activeimg">
                            <p>Account</p>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body>

</html>