<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <title>IDG</title>
</head>

<body>
    <section id="call">
        <img src="img/phone.png" alt="phone">
    </section>

    <section id="topbar">
        <div class="title">
            <a href="help.html"><i class="fa fa-angle-left"></i></a>
            <p>সাহায্য প্রত্যাহার করুন</p>
        </div>
    </section>

    <section class="intro" id="listmenu">
        <div class="container-fluid">
            <h2 class="text-center">সাহায্য প্রত্যাহার করুন</h2><br><br>
            <p>প্রত্যাহারের নিয়ম:<br><br>

                1. তোলার সময়: সোমবার, মঙ্গলবার, বুধবার, বৃহস্পতিবার, প্রত্যাহার পরের দিন আসবে। শুক্র, শনিবার এবং রবিবার
                প্রত্যাহার সোমবার আসবে, কারণ ব্যাঙ্ক সপ্তাহান্তে অর্থপ্রদান পরিচালনা করে না।<br><br>

                2. প্রত্যাহারের জন্য বাংলাদেশের বড় সরকারকে 15% ট্যাক্স দিতে হবে, যা সকল সদস্যের প্রতিটি আয়ের বৈধতা
                নিশ্চিত করার জন্য ব্যাংক দ্বারা সরাসরি আটকানো হবে এবং পরিশোধ করা হবে।<br><br>

                3. আপনি দিনে শুধুমাত্র একবার তুলতে পারবেন এবং সর্বনিম্ন উত্তোলনের পরিমাণ হল 300TK<br><br><br><br>



                টিপ: অনুগ্রহ করে ঘন ঘন নগদ উত্তোলন করবেন না। উত্তোলন আপনার অ্যাকাউন্টের মোট তহবিল হ্রাস করবে এবং
                দৈনন্দিন কাজ থেকে আপনার আয় হ্রাস করবে। আমার পরামর্শ হল আপনি আপনার আয় জমা করতে পারেন। আপনার আয় বাড়লে
                আপনি পরিকল্পনা করতে পারেন। নির্যাস.
            </p>

        </div>
    </section>


    <section id="menus">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="index.html">
                            <img src="img/Home.png" alt="Home">
                            <img src="img/HomeA.png" alt="Home" class="activeimg">
                            <p>Home</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="team.html">
                            <img src="img/Team.png" alt="Home">
                            <img src="img/TeamA.png" alt="Home" class="activeimg">
                            <p>Team</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="tasks.html">
                            <img src="img/Task.png" alt="Home">
                            <img src="img/TaskA.png" alt="Home" class="activeimg">
                            <p>Tasks</p>
                        </a>
                    </div>
                </div>
                <div class="col-3 p-0">
                    <div class="menu">
                        <a href="account.html">
                            <img src="img/Account.png" alt="Home">
                            <img src="img/AccountA.png" alt="Home" class="activeimg">
                            <p>Account</p>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body>

</html>